:root {
  /* Colors */
  --primary: #2563eb;
  --secondary: #f97316;
  --success: #16a34a;
  --danger: #dc2626;

  --background: #f8fafc;
  --surface: #ffffff;

  --text: #0f172a;
  --text-light: #64748b;

  --border: #e2e8f0;

  /* Shadow */
  --shadow: 0 8px 24px rgba(0,0,0,.08);

  /* Radius */
  --radius: 12px;

  /* Transition */
  --transition: all .3s ease;
}